<h2>Products Index: All Products</h2>
<h3>Search box here</h3>
<% @products.each do |product| %>
	<div style="float:left;padding:5px">
	<h4><%= product.pname %></h4>
	<p>Price: $<%= product.price %></p>
	<img src="<%= product.image %>">
	<p><a href="/wishlist">Add to Wishlist</a>
	<a href="/cart">Buy it!</a></p>
	</div>
<% end %>